body{
    display: grid;
    place-items: center;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #edf2f4;
    letter-spacing: 1px;
}

#boton-generar{
    color: white;
    background-color:#f0aa9b;
    border: none;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

#contenedor-1{
    width: 70vh;
    background-color: #acbedb;
    border: #d3dcef 2px solid;
    border-radius: 3px;
    text-align: center;
}

#info-seleccionada{
    background-color: #cbc0d3;
    width: 70vh;
    text-align: center;
    border: 2px solid #cbc0d3;
    border-radius: 3px;
    margin-top: 5px;
    color: black;
    letter-spacing: 1px;
}

#contenedor-productos{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    place-items: center;
    grid-gap: 10px;
    margin-top: 6px;
    background-color: #dee2ff;
    border: #8e9aaf solid 3px;
    border-radius: 4px;
}

.producto{
    background-color: white;
    margin: 3px;
    text-align: center;
    border: white solid 3px;
    border-radius: 5vh;
}

#contenedor-productos img{
    width: 230px;
    border-radius: 3vh;

}