body{
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffb627;
    letter-spacing: 1px;
}

#boton-generar{
    color: white;
    background-color:#d84727;
    border: none;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

#contenedor-1{
    width: 70vh;
    background-color: #ffc971;
    border: #d47c2a 2px solid;
    border-radius: 3px;
    text-align: center;
}

#info-seleccionada{
    background-color: #cc5803;
    width: 70vh;
    text-align: center;
    border: 1px solid #9c2b12;
    border-radius: 3px;
    margin-top: 5px;
    color: white;
    letter-spacing: 1px;
}

#contenedor-productos{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    place-items: center;
    grid-gap: 10px;
    margin-top: 6px;
    background-color: #e97055;
    border: #f07a26 solid 3px;
    border-radius: 4px;
}

.producto{
    border: #9c2b12 solid 3px;
    background-color: white;
    margin: 3px;
    border-radius: 4px;
    text-align: center;
}

#contenedor-productos img{
    width: 200px;
}